**/*build*/
**/*install*/
**/*txt.user*
**/release*
**/Release*
**/RELEASE*
**/*release
**/*Release
**/*RELEASE
**/debug*
**/Debug*
**/DEBUG*
**/*debug
**/*Debug
**/*DEBUG
**/*.back
**/*.bak
**/*.pdb
**/*.swp
**/*.swo
**/*.o
**/*.obj
**/*.a
**/*.lib
**/*.so
**/*.dylib
**/*.dll
**/*.exe
/src/out
/src/.vs
/src/*.json
/*.json
/.vs
/.idea
/.svn
/.vscode
/.cache
/.agents
/.codex
/out
/tags
**/makefile*
**/Makefile*
**/~*
**/*~
/.qmake.stash
.DS_Store
Thumbs.db
/CMakeCache.txt
/CMakeFiles
/Testing
/CTestTestfile.cmake
/DartConfiguration.tcl
CMakeSettings.json
