**/*build
**/build*
**/*build*
**/*install
**/install*
**/*install*
**/*txt.user*
**/release*
**/Release*
**/RELEASE*
**/*release
**/*Release
**/*RELEASE
**/debug*
**/Debug*
**/DEBUG*
**/*debug
**/*Debug
**/*DEBUG
**/*.back
/src/out
/src/.vs
/src/*.json
/*.json
/.vs
/.idea
/out
/tags
**/makefile*
**/Makefile*
/.qmake.stash
CMakeSettings.json
